*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #676767;
    justify-items: center;
}

.navbar{
    padding: 0.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #232323;
    color: #fff;
    letter-spacing: 0.5px;
}

.navbar p{
    font-size: 20px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.hero{
    width: 95%;
    height: 60vh;
    text-align: center;
    background-color: #454545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0px 8px 4px #121212;

}

.main{
    font-size: 36px;
    padding: 1rem;
    color: gold;
}

.hero .sub{
    color: gold;
    font-size: 20px;
    position: relative;
    top: -12px;
}

button{
    height: 36px;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid rgb(168, 143, 0);
    background-color: gold;
    padding: 0.25rem 01rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.cards{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #464646;
    padding: 1rem;
    color: #fff;
    border-radius: 20px;
    height: 160px;
    width: 300px;
    border: 1px solid #1212129d;
    box-shadow: 0px 8px 4px #121212;
}   

.card .heading{
    font-size: 24px;
    text-align: center;
    margin-top: 1rem;
}

.card .subheading{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 20px;
    margin-top: 2rem;
}

.footer{
    width: 100%;
    background-color: #121212;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 0.75rem;
    margin-top: 8rem;
}